
@font-face {
    font-family: 'Nunito-ExtraLightItalic';
    src: local('FiraSans'), url(../fonts/Nunito-ExtraLightItalic.ttf) format('truetype');
  }
  
  #footer-font {
    position: relative;
    bottom: 0;
    align-content: center;
    font-family: 'Nunito-ExtraLightItalic';
    color: black;
    font-weight: bold;
  }
  
  .footer {
  
    padding: 0;
  }