* {
  background-color: #E9E9E9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border: 5px solid rgb(0, 0, 0);
}

.title-line{
  width: 270px;
}
.project-carosuel-bg {
  background-color: #DCDCDC;
  width: 102%;
  height: 420px;
}

.project-card {
  margin-top: 60px;
  border: 1px black;
  background-color: #DCDCDC;
}


.project-card-image {
  border: 10px black;
  border-radius: 10px;
  width: 280px;
  height: 200px;
  box-shadow: 0px 0px 2px 5px rgb(0, 0, 0);
  
}

.project-card-info {
  font-size: 24px;
  margin-top: 10px;
  background-color: #DCDCDC;
}

.project-card-title {
  font-size: 24px;
  margin: 0;
  background-color: #DCDCDC;
  font-weight: bold;
  font-family: 'Nunito-BlackItalic';
}

.project-card-subtitle {
  font-size: 16px;
  margin: 0;
  background-color: #DCDCDC;
  font-family: 'Nunito-ExtraLightItalic';
  color: black;
  font-weight: 600;
}



.project-card-image-container{
    position: relative;
    width: 100%;
}
.project-card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #222222;
  border-radius: 10px;
}

.project-card-image-container:hover .project-card-image-overlay  {
  opacity: 1;
}

.project-card-image-text {
  color: white;
  width: auto;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #222222;
  font-weight: bold;
  font-family: 'Nunito-BlackItalic';
  padding: 10px;
}


.Button {
  width: 35vh;
  font-family: 'Nunito-ExtraLightItalic';
  font-weight: bolder;
  border: solid  #AD0505;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 15px;
}

#btn-green {
  text-decoration: none;
  border: solid #AD0505;
  background-color:  #AD0505;
  color: white;
  font-family: 'Nunito-BlackItalic';
}

#btn-green:hover {
  text-decoration: none;
  border: solid #AD0505;
  background-color:  #AD0505;
  color: white;
}

#btn-red {
  color: rgb(0, 0, 0);
  font-family: 'Nunito-BlackItalic';
}

#btn-red:hover {
  text-decoration: none;
  border: solid #00f38e;
  background-color:  #00f38e;
  color: rgb(255, 255, 255);
}

#btn-blue {
  width: 80px;
  height: 40px; 
  border: solid  #000000;
  padding: 5px;
  color:rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-family: 'Nunito-ExtraLightItalic';
  font-weight: bold;
  font-size: 18px;
}

#btn-blue:hover {
  background-color:  #07abdd;
  border: solid  #07abdd;
  color: rgb(255, 255, 255);
}

.box {
 
  margin-left: auto;
}

#wave-image {
  height: 300px;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.about-content-text {
  font-family: 'Nunito-ExtraLightItalic';
  color: black;
  font-weight: bolder;
  font-size: 25px;
  position: relative;
  top: -50px;
  left: -10px;
}

.icon-p {
  position: relative;
  left: -80px;
  top: -30px;
  margin-top: -70px;
  margin-bottom: -80px;
}

.icon {
  width: 70px;
}

.icon-text1 {
  padding-right: 70px;
  padding-left: 0px;
  position: relative;
  top: 20px;
  font-family: 'Nunito-BlackItalic';
  color: black;
  font-weight: bolder;
  font-size: 35px;
}

.icon-text1:hover {
  color: black;
}

.icon-text2 {
  padding-right: 70px;
  padding-left: 0px;
  position: relative;
  top: 20px;
  font-family: 'Nunito-BlackItalic';
  color: #0076B4;
  font-weight: bolder;
  font-size: 35px;
}

.icon-text2:hover {
  color: #0076B4;
}

.icon-text3 {
  padding-right: 70px;
  padding-left: 0px;
  position: relative;
  top: 20px;
  font-family: 'Nunito-BlackItalic';
  color: #E74D89;
  font-weight: bolder;
  font-size: 35px;
}

.icon-text3:hover {
  color: #E74D89;
}

a {
  text-decoration: none  !important;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.success-err {
  color: #cc2c2c;
  padding: 10px 15px;
}